body {
  background-color: #e60012;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #e60012;
  outline: 1px solid black;
}

.app {
  max-width: 800px;
  height: 90vh;
  margin: 2em auto 0;
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(#000, 0.3);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-content {
  padding-top: 1em;
  display: flex;
  overflow: hidden;
}
