.characters {
  width: 70%;
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.character {
  border-radius: 10px;
  padding: 1em;
  border: 2px dashed #ccc;
  background-color: white;
  margin-bottom: 1em;
  text-align: center;
  width: 40%;
  .image {
    max-width: 100%;
  }
}
